@import url("https://fonts.googleapis.com/css?family=Comfortaa");
::-webkit-scrollbar {
	display: none;
}

body {
	padding: 10px;
	margin: 0;
	background-color: #6699cc;
	background-repeat: no-repeat;
	text-align: center;
	font-family: "Comfortaa", cursive;
	font-size: 25px;
	font-weight: 900;
}

.player1 {
	margin: 0 auto;
	color: #701090;
	font-weight: bolder;
	font-size: 20px;
}

.player2 {
	margin: 0 auto;
	color: #252934;
	font-weight: bolder;
	font-size: 20px;
}

.box {
	width: 100%;
	height: 100%;
	position: center;
	background-repeat: no-repeat;
	margin-bottom 50px;
	line-height: 50px;
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background-color: #6699cc;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.dot {
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: purple;
	z-index: 1000;
}

.line {
	position: absolute;
	background-color: whitesmoke;
	cursor: pointer;
	z-index: 1;
}

.lineh {
	height: 5px;
	width: 50px;
}

.linev {
	height: 50px;
	width: 5px;
}

.line:hover {
	background-color: #313131;
}

.line-active {
	background-color: #373737;
}
